/* DISEÑO  */
:root {
    --azul: #145388;
    --naranja: #F19800;
    --azul-f: #0d375a;
    --naranja-f: #945f03;
}

/* BOOTSTRAP */
.btn {
    border-radius: 3.125em;
    font-size: .8em;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}

.btn-primary {
    background-color: var(--azul) !important;
    border-color: var(--azul) !important;
}

.btn-primary:active,
.btn-primary:hover {
    background-color: var(--azul-f);
    border-color: var(--azul-f);
}


.btn-secondary {
    background-color: var(--naranja);
    border-color: var(--naranja);
}

.btn-secondary:active,
.btn-secondary:hover {
    background-color: var(--naranja-f);
    border-color: var(--naranja-f);
}

/* GENERALES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
    font-family: 'Nunito', sans-serif;
    color: #3A3A3A
}

img {
    max-width: 100%;
}

h1 {
    font-size: 1.75em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}


/* LOGIN */

.login {
    background: rgb(57, 118, 178);
    background: linear-gradient(90deg, rgba(57, 118, 178, 1) 0%, rgba(89, 125, 174, 1) 59%, rgba(136, 146, 178, 1) 100%);
    height: 40em;
    width: 100%;
    display: flex;
}

.login section {
    width: 50em;
    height: 33em;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

.start {
    background-color: #f5f5f5;
    border-radius: 0 10px 10px 0px;
    padding: 4em;
}

.start img {
    margin-bottom: 2em;
}

.login .row div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones-login .btn-secondary {
    text-transform: uppercase;
}

.botones-login button {
    display: block;
    background-color: var(--azul);
    color: white;
    width: 100%;
    text-transform: uppercase;


}

.btn-default {
    color: #3a3a3a;
    font-size: .8em !important;
    padding-top: 1.4em;
    font-weight: 300;
}

.botones-login a {
    display: block;
}

/* HEADER Y SIDEBAR */

header {
    position: fixed;
    top: 0;
    left: 0;
    /* height: 60px; */
    z-index: 500 !important;
    width: 100% !important;
}

.pro-sidebar {
    position: fixed;
    top: 90px;
    left: 0;
    color: white;
}

main {
    margin-top: 5em;
    padding: 2em 3em !important;
    margin-left: 90px;

}

/* DASHBOARD */

.chartFOB {
    width: 100%;
}

.infoMonthChart {
    margin-top: 4em;
}

.infoMonthChart h3 {
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    order: 2;
    text-align: right;
    margin: .5em 0;
}

.infoMonthChart .col-md-4 section {
    margin-right: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
}

.infoMonthChart .col-md-3 section:last-child {
    order: 1;
}

.infoMonthChart .row div section {
    border-radius: 1em;
    padding: 1.5em 1em .5em 0;
}


.infoMonthChart .row .ton section {
    background-color: #4c505c;
}

.infoMonthChart .row .usd section {
    background-color: #29C768;
}

.infoMonthChart .row .ope section {
    background-color: #00D8CB;
}

.infoMonthChart .recharts-wrapper {
    position: inherit !important;
    z-index: 300 !important;
    margin-left: -1em;
}




.averageChart h2 {
    padding: 1em 0;
    font-weight: 800;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 400;
}

.averageChart {
    background-color: white;
    border-radius: 1em;
    padding: 0 1em 2em 1em;
    height: 20em;
    overflow-y: scroll;
    margin-top: 2em;
    width: 100%;
}

.averageChart>div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 3em;
    max-width: fit-content;
}

.averageChart>div>div {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.averageChart img {
    width: 2em;
    height: 2em;
}

.averageChart h3 {
    font-size: .9em;
    font-weight: 700;
    color: #3A3A3A;
    text-transform: uppercase;
    order: 2;
    text-align: right;
    margin-left: 2em;
    margin-bottom: 0 !important;
}

.averageChart > .text-center {
    display: block;
    margin: 3em auto;
}

.infoStats {
    margin: 4em 0;
    color: #145388;
}

.infoStats h3 {
    color: #6A6A6A;
    font-size: .8em;
    font-weight: 600;
}

.infoStats p {
    font-size: 2em;
    margin-bottom: 0;
}

.infoStats svg {
    height: 2em;
    width: 2em;
    margin-bottom: .5em;
}

.infoStats .row div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1em;
    padding: 1em 0;
}

.world {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 3em;
}

.world h2 {
    font-weight: 700;
    margin: .5em 0 1em 0;
}

.world .map-selected {
    fill: #1F82BF;
}

.world .map-unselected {
    fill: #f5f5f5;
}

.world .map-selected:hover,
.map-unselected:hover {
    cursor: pointer;
}

.world .row {
    justify-content: space-between;
}

.world .row .col-md-4 {
    display: flex;
    justify-content: flex-end;
    padding-right: .5em;
}

.world table {
    text-align: center;
}

.world table thead tr th {
    color: #212529;
    font-weight: 700;
    font-size: .9em;
    text-transform: uppercase;
    padding-bottom: 1em;
    border-bottom: 2px solid #dee2e6;
}


.world table tbody td {
    border-bottom: 1px solid rgba(136, 146, 178, 0.151);
    margin: 1em 0;
    padding: .5em 0;
    font-size: .7em;
}

.world table tbody tr td:first-child,
.world table thead tr th:first-child {
    text-align: left !important;
}


.world .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;

}

.world .header p {
    margin-bottom: 0;
}

.world .row .countries {
    padding-right: 0 !important;
    max-height: 10em;
}

.world .countries thead tr th,
.world .countries tbody tr td {
    padding-right: 2em;
}

.world .countries tbody tr {
    height: 3em !important
}

/* PAGE MARKET  */

.market div {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    max-width: 48% !important;
}

.market div p {
    font-size: .9em;
}

.market div h2 {
    margin-bottom: 1em;
}

.market {
    display: flex;
    justify-content: space-around;
}

.market-publicar {
    text-align: center;
    background-color: #145388;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    max-height: 15em;
    margin: 4em 0;
}

.market-publicar .btn {
    border: 1px solid white !important;
}

.market-publicar .btn:hover {
    background-color: white !important;
    color: #145388 !important;
}

.market-publicar img {
    background-color: #28a745 !important;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .market div {
        max-width: 100% !important;
    }
}

/* MIS PRODUCTOS */

.productsByUser .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product {
    background-color: white;
    border-radius: 1em;
    margin-bottom: 2em;
    width: 99%;
    position: relative;
}

.product h2 {
    color: #3A3A3A;
    font-weight: bolder;
    text-align: center;
    padding: 1em 0 .5em 0;
}


.product ul li {
    font-size: .8em;
    padding: 1em 0;
    border-top: 1px solid #dee2e6;
    padding: 1em;
    color: #3A3A3A;

}

.product ul li span {
    font-weight: 700;
}

.product .precio {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #145388;
    color: white;
    padding: .5em 1em;
    border-radius: 10px;
    font-weight: bolder;
}

.product img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 8em;
    border-radius: 1em 1em 0 0;
}


/* PRODUCTOS BY ID */

.productId {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.productId .product {
    background-color: white;
    border-radius: 1em;
    width: 100%;
    position: relative;
}

.productId .product h2 {
    color: #3A3A3A;
    font-weight: bolder;
    text-align: center;
    padding: 1em 0 .5em 0;
}


.productId .product ul li {
    font-size: .8em;
    padding: 1em 0;
    border-top: 1px solid #dee2e6;
    padding: 1em;
    color: #3A3A3A;
    text-align: center;

}

.productId .product ul li span {
    font-weight: 700;
}

.productId .images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 70%;
    width: 70%;
    margin-left: 2em;
    position: relative;
}

.productId .images img {
    width: 100%;
    max-width: 100%;
    height: 24em;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
}

.productId .images .images_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 99%;
    margin-left: 1em;
}

.productId .images .images_list img {
    width: 70%;
    height: 8em;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
    margin-bottom: 1em;
}

.productId .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productId .precio {
    position: absolute;
    top: -.3em;
    left: -.3em;
    background-color: #145388;
    color: white;
    padding: .5em 1em;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.5em;
}

.not-exist {
    text-align: center;
    margin: 5em 0 10em 0;
}

.not-exist p {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}


/* NEW PRODUCT */
.formNewProduct {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
}

.formNewProduct h2 {
    text-align: center;
    padding: 1em 0;
}

.formNewProduct .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 100%;
}

.formNewProduct .form-group.tipe div {
    width: 30%;

}

.formNewProduct .clasificacion {
    margin: 2em 0;
}

.formNewProduct .clasificacion label:first-child {
    display: block;
    font-size: 1.5em;
    margin-bottom: .5em;
}

.formNewProduct .clasificacion .form-check {
    padding: 0 4em;
}

.formNewProduct .mm {
    font-size: .7em !important;
    padding-bottom: 2em;
}

.formNewProduct .caracteristicas {
    padding: 0 !important;

}

.formNewProduct .caracteristicas h2 {
    text-align: left;
}

.formNewProduct .caracteristicas label,
.formNewProduct .caracteristicas input,
.formNewProduct .caracteristicas select {
    font-size: .8em;
    margin-bottom: .5em;
}

.formNewProduct .invalid {
    width: 100% !important;
    margin-top: 0.25rem !important;
    font-size: .7em !important;
    color: #DC3545 !important;
}

.formNewProduct .caracteristicas .img img {
    width: 8em;
    height: 8em;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
    margin: 2em auto;
    text-align: center;
    display: block;
}

.formNewProduct .caracteristicas .galery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 100%;
    margin: 2em auto;
    flex-wrap: wrap;
}

.formNewProduct .caracteristicas .galery img {
    width: 4em;
    height: 4em;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
    margin: 0 .5em;
    text-align: center;
    display: block;
}

.formNewProduct .caracteristicas video {
    height: 8em;
    width: 8em;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
    margin: 2em auto;
    text-align: center;
    display: block;
}

.swal2-confirm .swal2-styled {
    background-color: var(--azul) !important;
    border-color: var(--azul) !important;
}


/* TRANSACTIONS */

.table-transactions .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1em;
}

.table-transactions .header div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;

}


.table-transactions .table {
    background-color: white;
    border-radius: 1em;
    margin: 3em 0 1em 0;
}

.table-transactions .table thead tr th {
    text-align: center;
    padding-top: 1em;
}


.table-transactions .table tbody {
    font-size: .8em;
    text-align: center;
    vertical-align: middle;
}

.table-transactions .table tbody .red span {
    background-color: #DC3545;
    color: white;
    border-radius: 1em;
    padding: .5em;
}


.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 0 1em;
}

.table-transactions p.not {
    text-align: center;
    margin: 5em 0 10em 0;
    font-size: 1.5em;
}

/* ALL PRODUCTS */
.allProducts .header {
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 2em;
}


/* TRANSACTION BY ID */

.transactionId .row {
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
}

.transactionId .row section {
    background-color: white;
    border-radius: 1em;
    padding: 1em 1em 0 1em;
    width: 99%;
    position: relative;
}

.transactionId .row section h2 {
    text-align: left;
    padding: .5em 0;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bolder;
}

.transactionId .row .vendedor ul li,
.transactionId .row .comprador ul li {
    font-size: .7em;
    padding: 1em 0;
    border-top: 1px solid #dee2e6;
    padding: 1em;
    color: #3A3A3A;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transactionId .row .producto ul li,
.transactionId .row .transaccion ul li {
    font-size: .7em;
    padding: 1em 0;
    border-top: 1px solid #dee2e6;
    padding: 1em;
    color: #3A3A3A;
    text-align: left;
}

.transactionId .row section img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    top: -1em;
    right: -.5em;
}

.btns-transactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.btns-transactions .btn {
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 1em 0;
    width: 100%;
    padding: 0.5rem 0 !important;
}

.btns-transactions .btn svg {
    font-size: 5em;
    color: #145388;
}

.btns-transactions .btn span {
    font-size: .8em;
    color: #145388;
    text-transform: uppercase;
    font-weight: bolder;
}


/* DEMAND BY ID */


.demandId .row {
    justify-content: space-between;
}

.demandId .product {
    background-color: white;
    border-radius: 1em;
    position: relative;
}

.demandId .product h2 {
    color: #3A3A3A;
    font-weight: bolder;
    text-align: center;
    padding: 1em 0 .5em 0;
}


.demandId .product ul li {
    font-size: .8em;
    padding: 1em 0;
    border-top: 1px solid #dee2e6;
    padding: 1em;
    color: #3A3A3A;
    text-align: center;

}

.demandId .product ul li span {
    font-weight: 700;
}

.demandId .images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.demandId .images img {
    width: 100%;
    max-width: 100%;
    height: 22em;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
}


.demandId .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.demandId .precio {
    position: absolute;
    top: -.3em;
    left: -.3em;
    background-color: #145388;
    color: white;
    padding: .5em 1em;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.5em;
}

/* USER PROFILE */

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    font-family: 'Nunito', sans-serif !important;
}

.userProfile .row {
    margin-top: 3em;
}

.userProfile .card {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    position: relative;
}

.userProfile .card h2 {
    margin: 3.5em 0 1em 0;
    text-align: center;
    font-weight: bolder;
}


.userProfile .card .img img {
    width: 8em;
    height: 8em;
    object-fit: cover;  
    object-position: center;
    border-radius: 50%;
    position: absolute;
    top: -4em;
    left: calc(50% - 4em);
}

.userProfile .card svg {
    width: 1em;
    height: 1em;
}

[data-testid="GppBadIcon"] {
    color: #DC3545;
}

[data-testid="VerifiedUserIcon"] {
    color: #28A745;
}

.marketByUser .card {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    position: relative;
    color: #3a3a3a;
    margin: 1em 0;
}

.marketByUser .card .img-user img {
    width: 3em;
    height: 3em;
    object-fit: cover;  
    object-position: center;
    border-radius: 50%;
    position: absolute;
    top: .5em;
    left: .5em;
}

.marketByUser .card h2 {
    margin: 0em 0 .5em 3em;
    text-align: left;
    font-size: 1em;
}

.marketByUser .card .date {
    position: absolute;
    top: 3em;
    left: 5em;
    font-size: .8em;
    color: #909090;
}

.marketByUser .card h3 {
    margin: 1em 0 .4em 0em;
    text-align: left;
    font-weight: bolder;
}

.marketByUser .card .img-product img {
    width: 10em;
    height: 100%;
    object-fit: cover;  
    object-position: center;
    border-radius: 1em;
    position: absolute;
    top: 0;
    right: 0;
}

.marketByUser .card p {
    margin-bottom: 0;
}

.css-19kzrtu {
    padding: 1.5em 0 !important;
}












/* FOOTER */
footer {
    padding: 2em 2em 1em 4em;
    border-top: 1px solid #d7d7d7;
}

footer .row {
    justify-content: space-between;
}

footer p {
    color: #909090 !important;
    font-size: .9em;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: .8em;
    margin-left: 1em;
    border-right: 1px solid #145388;
    padding-right: .5em;

}

footer ul li a,
footer ul li a:hover,
footer ul li a:active {
    color: #145388;
}